@mixin f($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.main {
  padding-top:  30px;
  padding-bottom:  30px;

  grid-area: main;
  background-color: #0079BF;

  display: grid;
  grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1240px) minmax(15px, 1fr);


  &__wrapper {
    grid-area: 1/2;
    @include f(space-between, flex-start, row);
    gap: 10px;
  }

  @media (max-width: 1190px) {
    justify-items: center;

    &__wrapper {
      flex-direction: column;
      justify-content: normal;
    }
  }

  @media (max-width: 867px) {
    &__wrapper {
      @include f(flex-start, flex-start, column);
    }
  }


  &__column {
    display: flex;
    flex-direction: column;
    gap: 15px;

    min-width: 282px;
    padding: 12px;
    border-radius: 10px;

    color: #000000;
    background-color: #ebecf0;
    font-weight: 400;
    font-size: 18px;

    &_card {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__input {
      font-size: 18px;
      border-radius: 5px;
    }

    &_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #FFFFFF;
      padding:7px;
      border-radius:5px;
    }




  }

}

.task {
  max-width: 258px;
  padding: 7px;
  background-color: white;
  border-radius: 10px;
  white-space: normal;
  word-wrap: break-word;
}

.btn__addcard {
  width: 90px;
  color: #5e6c84;
  font-size: 18px;
  text-align: start;

  &:hover {
    color: #000000;
    cursor: pointer;
    background-color: #ebecf0;
  }
}

.btn__hide,
.btn__submit {
  width: 102px;
  height: 29px;
  color: white;
  background: #0079bf;
  border-radius: 5px;

  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

